@import url('https://fonts.googleapis.com/css2?family=Mynerve&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Walter+Turncoat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Foldit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@500&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Mynerve', cursive;
    /* font-family: 'Walter Turncoat', cursive; */
    /* font-family: 'Foldit', cursive; */
    font-family: 'Special Elite', cursive;
    /* font-family: 'Syne Mono', monospace;
    font-family: 'Merriweather Sans', sans-serif; */
    line-height: 3rem;
    font-size: 12px;
}

body{
    background-color: black;
}

video{
    width: 100%;
    filter: opacity(0.4);
    position: absolute;
    z-index: 1;
    left: 0px;
    top:0px;
}

h1{
    z-index: 2;
    color:rgb(122, 250, 115);
    margin-top: 30vh;
    text-align: center;
    font-size: 8rem;
    font-family: 'Foldit', cursive;    
}

div{
    z-index: 2;
    color:rgb(255, 255, 255);
    display: flex;
    justify-content:space-around;
    padding: 18vh;
}

div a{
    z-index: 3;
    font-size: 5rem;
    cursor:pointer;
    color:rgb(255, 231, 200);
    text-decoration: none;
}

div a:hover{
    color:rgb(249, 119, 112);
}