@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@500&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    font-size: 12px;
}

body{
    background-color: black;
}

video{
    width: 100%;
    filter: opacity(0.6);
    position: absolute;
    z-index: 1;
    left: 0px;
    top:0px;
}

h1{
    z-index: 2;
    color:rgb(131, 137, 200);
    margin-top: 25vh;
    text-align: center;
    font-size: 6rem; 
    line-height: 4rem;
    letter-spacing: 1rem; 
    font-family: 'Albert Sans', sans-serif;
}

.menu{
    z-index: 2;
    color:rgb(255, 255, 255);
    display: flex;
    justify-content:center;
    padding: 18vh;
}

.menu p{
    z-index: 3;
    width: 50%;
    margin: 0px 4%;
    text-align: center;
}

/* .menu p:first-child{
    text-align: right;
} */

.menu a{
    z-index: 3;
    font-size: 4rem;
    cursor:pointer;
    color:rgb(255, 231, 200);
    text-decoration: none;
}

.menu a:hover{
    color:rgb(249, 119, 112);
}