@import url('https://fonts.googleapis.com/css2?family=Mynerve&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Walter+Turncoat&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* font-family: 'Mynerve', cursive; */
    font-family: 'Walter Turncoat', cursive;
    line-height: 1.4rem;
}

body{
    background-color: black;
}

video{
    width: 100%;
    filter: opacity(0.4);
    position: absolute;
    z-index: 1;
    left: 0px;
    top:0px;
}

h1{
    z-index: 2;
    color:rgb(122, 250, 115);
    margin-top: 30vh;
    text-align: center;
    font-size: 60px;    
}

div{
    z-index: 2;
    color:rgb(255, 255, 255);
    display: flex;
    justify-content:space-around;
    padding: 18vh;
}

div a{
    z-index: 3;
    font-size: 46px;
    cursor:pointer;
    color:rgb(225, 255, 251);
    text-decoration: none;
}

div a:hover{
    color:rgb(249, 119, 112);
}