@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 14px;
}

body {
  background-color: #303030;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: #000000;
  }
}

main {
  position: relative;
  background-color: #fffdfd;
  min-height: 100vh;
}

h1{
  color: rgb(107, 107, 107);
  margin-bottom:2%;
}

.menu-explicacion{

}

.menu-explicacion p {
  font-size: 1.2rem;
  color: #757575;
  text-align: center;
  padding: 3% 8%;
  margin-bottom: 2%;
}

.submenu {
  background-color: #e1e1e1;
  border-bottom: 1px solid #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1%;
}

.submenu span {
  color: rgb(255, 255, 255);
  font-size: 1.3rem;
  margin: 0px 20px;
  cursor: pointer;
  margin: 2px 4px;
  background-color: #fa9c6d;
  padding: 3px 8px;
  border-radius: 4px;
}

.submenu-titulo {
  color: rgb(107, 107, 107);
  font-size: 2rem;
  padding: 2% 2% 0% 2%;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .submenu {
    justify-content: center;
    padding: 3% 1%;
  }

  .submenu-titulo {
    padding: 2% 2% 4% 2%;
  }

  .submenu span {
    margin: 2px 4px;
    font-size: 1rem;
    padding: 3px 8px;
    border-radius: 4px;
  }
}

.submenu-explicacion h1{
  text-align: center;
  color: #676767;
  font-size: 2.5rem;
  padding: 2% 2% 0.4% 2%;
}

.submenu-explicacion h2{
  text-align: center;
  color: #676767;
  font-size: 1.6rem;
}

.submenu-explicacion p {
  font-size: 1.2rem;
  color: #757575;
  text-align: center;
  padding: 1% 8%;
}

.frame-pc-fondo {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 300;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  text-align: center;
}

.frame-pc-cerrar {
  z-index: 32;
  position: absolute;
  top: 2%;
  right: 2%;
  text-align: right;
  padding: 10px 15px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.4rem;
  color: rgb(44, 44, 45);
  background-color: aliceblue;
}

.frame-pc-cerrar:hover {
  color: #fa9c6d;
}

.frame-pc-ic {
  width: 100%;
  padding: 2%;
}

.frame-pc-ic video {
  min-width:80%;
  max-width: 80%;
  border-radius: 4px;
  max-height: 95vh;
  border: 1px solid rgb(117, 117, 117);
}

.frame-pc-ic img {
  max-width: 80%;
  border-radius: 4px;
  max-height: 95vh;
  border: 1px solid rgb(117, 117, 117);
}

.contenido-seccion-general {
  background-color: #fefefe;
}
