.creditos-contenido{
    padding-bottom: 60px;
}

.creditos-contenido h1{
    font-size: 1.4rem;
    line-height: 2rem;
    text-align: center;
    color:#444343;
}

.creditos-contenido p{
    padding: 0% 3%;
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    color:#676767;
    margin-bottom: 30px;
}