.frames-categorias {
  border-bottom: 1px solid #616161;
  display: flex;
  justify-content: center;
  padding: 1%;
}

.frames-categorias span {
  color: aliceblue;
  font-size: 1.2rem;
  margin: 0px 20px;
  cursor: pointer;
}

.frames-titulo{
  color: aliceblue;
  font-size: 3rem;
  padding: 2%;
  text-align: center;
}

.frames-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.categoria-img-contenedor {
  width: 23%;
  height: 200px;
  overflow: hidden;
  margin: 10px 0.5%;
  border-radius: 20px;
  border: 1px solid #303030;
  position: relative;
}

.categoria-img-contenedor img {
  height: 100%;
}

.categoria-img-contenedor video {
  height: 100%;
}

.frames-header{
  position: absolute;
  width: 100%;
  background-color: rgba(60, 60, 60, 0.6);
  left: 0px;
  top: 0px;
  text-align: center;
  display: flex;
  justify-content:space-between;
  padding: 1% 1.5%;
  color: aliceblue;
  align-items: center;
  z-index: 10;
}

.frames-header-btn{
  font-size: 1.4rem;
  padding: 2px 12px;
  background-color: rgba(13, 13, 13, 0.4);
  border-radius: 14px;
  cursor: pointer;
}

.frames-header-btn:hover{
  background-color: rgba(187, 185, 185, 0.9);
}


