.reflexiones {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.reflexiones > div {
  width: 46%;
  text-align: center;
}

.reflexiones > div > div {
  position: relative;
  height: 250px;
  overflow: hidden;
  border-radius: 12px;
  padding: 0px !important;
  margin-bottom: 20px;
}

.reflexiones > div > div > img:first-child {
  width: 100%;
}

.reflexiones > div > div > img:nth-child(2) {
  position: absolute;
  width: 10%;
  left: 45%;
  top: 40%;
  background-color: rgba(241, 240, 240, 0.4);
  border-radius: 14px;
  padding: 4px;
  cursor: pointer;
}

.reflexiones > div > div > img:nth-child(2):hover {
  background-color: rgba(152, 240, 134, 0.4);
}

.reflexiones p {
  padding: 0% 3%;
  font-size: 1.2rem;
  line-height: 1.8rem;
  text-align: center;
  color: #676767;
  margin-bottom: 30px;
}

.reflexiones-cita {
  text-align: right !important;
  width: 60%;
  margin-left: 40%;
  font-size: 1rem !important;
  padding: 3% 5% 0% 1% !important;
}

@media only screen and (max-width: 600px) {

  .reflexiones > div > div {
    margin-bottom: 5px;
    height: auto;
  }

  .reflexiones > div {
    width: 100%;
    text-align: center;
  }
  .reflexiones img {
    width: 90%;
    margin: 0%;
  }

  .reflexiones p {
    padding: 0% 3%;
    font-size: 1rem;
    line-height: 1.4rem;
    margin-bottom: 10px;
  }

  
}
