.reflexiones{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.reflexiones img{
    border-radius: 12px;
    width: 40%;
    margin: 2%;
    cursor: pointer;
}

@media only screen and (max-width:600px){
    .reflexiones img{
        width: 90%;
        margin: 5%;
    }
}

.reflexiones img:hover{
    filter: blur(2px);
}