.frame-pc-fondo {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 300;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  text-align: center;
}

.frame-pc-cerrar {
  z-index: 32;
  position: absolute;
  top: 2%;
  right: 2%;
  text-align: right;
  padding: 10px 15px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.4rem;
  color: rgb(44, 44, 45);
  background-color: aliceblue;
}

.frame-pc-cerrar:hover {
  color: #fa9c6d;
}

.frame-pc-ic{
    width:100%;
    padding: 2%;
}

.frame-pc-ic video{
    max-width:80%;
    border-radius: 4px;
    max-height: 95vh;
    border: 1px solid rgb(117, 117, 117);
}

.frame-pc-ic img{
    max-width:80%;
    border-radius: 4px;
    max-height: 95vh;
    border: 1px solid rgb(117, 117, 117);
}

/* @keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-up {
  from {
    opacity: 1;
    transform: translateY(0rem);
  }

  to {
    opacity: 0;
    transform: translateY(-3rem);
  }
} */
