header {
  position: sticky;
  width: 100%;
  left: 0px;
  top: 0px;
  z-index: 120;
  height: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: rgb(255, 255, 255);
  font-family: DMSans, Helvetica, Arial, "Lucida Grande", sans-serif;
  background-color: rgba(31, 31, 31, 0.7);
  font-size: 2rem;
  letter-spacing: 5px;
}

header > div {
  width: 25%;
  height: 40px;
}

header > div:nth-child(2) {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  header {
    font-size: 0.8rem;
    height: 60px;
  }

  header > div {
    width: 5% !important;
    height: 60px;
  }

  header > div:nth-child(2) {
    width: 90% !important;
    height: 60px;
  }

  .hamburguesa {
    margin-right: 10px!important;
    cursor: pointer;
  }

  .hamburguesa > div {
    width: 20px!important;
  }
}

.logo-header {
  display: flex;
  justify-content: left;
  align-items: center;
}

.header-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.hamburguesa {
  margin-right: 60px;
  cursor: pointer;
}

.hamburguesa > div {
  border: 1px solid rgb(206, 204, 204);
  width: 30px;
  height: 1px;
  margin-bottom: 3px;
  cursor: pointer;
}
